
<% layout('/layouts/default.html', {title: '规章标准库-文件模板节点明细管理', libs: ['validate']}){ %>


<div class="main-content">
	<div class="box box-main">
		<#form:form id="inputForm" model="${ywGzbzkWjmbDetail}" action="${ctx}/yw/gzbzk/ywGzbzkWjmbDetail/save" method="post" class="form-horizontal">
		<div class="box-body">
			<div class="form-unit">${text('节点信息')}</div>
			<#form:hidden path="id"/>
			<div class="row">
				<div class="col-xs-6" style="display: none;">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('文件模板id')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="wjmbId" maxlength="64" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6" style="display: none;">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('父级id，如果是第一级。则为0')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="pid" maxlength="64" class="form-control"/>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-6" style="display: none;">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('层级')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="hierarchy" maxlength="64" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6" style="display: none;">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('具体编号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="numberCode" maxlength="64" class="form-control"/>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('节点类型')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="jdType" dictType="jd_type" blankOption="true" id="jdType" class="form-control required" onchange="changeType()"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('节点名称')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input id="jd_name" path="jdName" maxlength="50" class="form-control"/>
						</div>
					</div>
				</div>



			</div>
			<div class="row">


				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('字体')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="typeface" dictType="ziti" blankOption="true" class="form-control required" />
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('排序号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="number" maxlength="50" class="form-control required"/>
						</div>
					</div>
				</div>


			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('是否加粗')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="isBold" dictType="is_yes" blankOption="true" class="form-control required" />
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('字号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="fontsize" dictType="zihao" blankOption="true" class="form-control required" />
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="content" >
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('内容')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:textarea path="content" rows="4" maxlength="1024" class="form-control"/>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
		<button type="reset" style="display:none;"></button>

	</#form:form>
</div>
</div>
<% } %>
<script>
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				if(data.result == Global.TRUE){
					/*js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });*/
					js.showMessage(data.message);
					fomrReset();
					window.parent.location.reload();
				}else{
					js.showMessage(data.message);
				}
			}, "json");
		}
	});






	function changeType() {
		var obj=document.getElementById("jdType");
		var index=obj.selectedIndex;
		var value=obj.options[index].value;
		var text=obj.options[index].text;

		var jd_name = $('#jd_name').val();
		//如果选择标题的话，则不显示内容框，如果选择段落的话，则显示内容框不显示节点名称
		if(index == 1){
			if('段落' == jd_name){
				$('#jd_name').val('');
			}
			$("#jd_name").attr("readOnly",false);
			$('#content').val('');
			$('#content').hide();
		}else if(index == 2){
			$('#jd_name').val(text);
			$("#jd_name").attr("readOnly",true);
			$('#content').val('');
			$('#content').show();
		}else{
			$('#jd_name').val('');
			$("#jd_name").attr("readOnly",false);
			$('#jd_name').show();
			$('#content').val('');
			$('#content').show();
		}
	}


	$(function(){
		//页面加载完之后，直接加载节点类型的onchange事件，进行显示影藏
		changeType();
	});



	function fomrReset()
	{
		$(":input","#inputForm")
				.not(":button",":reset","hidden","submit")
				.val("")
				.removeAttr("checked")
				.removeAttr("selected");

		//手动清除select2的选中状态
		$("#jdType option:first").prop("selected",'selected');
		$('#jdType').trigger('change.select2');

		$("#typeface option:first").prop("selected",'selected');
		$('#typeface').trigger('change.select2');

		$("#fontsize option:first").prop("selected",'selected');
		$('#fontsize').trigger('change.select2');

		$("#isBold option:first").prop("selected",'selected');
		$('#isBold').trigger('change.select2');
	}


</script>