<% layout('/layouts/default.html', {title: '章节信息', libs: ['layout','zTree']}){ %>

<input type="text" style="display: none;" id="mbId" value="${mbId}"/>
<div class="ui-layout-west">
	<div class="main-content">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> ${text('章节目录')}
				</div>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-sm btn-default" id="downFile">${text('在线生成')}</button>&nbsp;
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="${text('展开')}" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="${text('折叠')}"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="${text('刷新')}"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
</div>
<div class="ui-layout-center">
	<iframe id="mainFrame" name="mainFrame" class="ui-layout-content p0"
		src="${ctx}/yw/gzbzk/ywGzbzkWjmbDetail/form"></iframe>
</div>
<% } %>
<script>
// 初始化布局
$('body').layout({
	west__initClosed: $(window).width() <= 767, // 是否默认关闭
	west__size: 400
});
// 主页框架
var win = $("#mainFrame")[0].contentWindow;
// 树结构初始化加载
var setting = {
	view:{selectedMulti:false,addHoverDom: addHoverDom, removeHoverDom: removeHoverDom},
	data:{key:{title:"title"},simpleData:{enable:true}},
	callback:{
		onClick:function(event, treeId, treeNode){
		}
	}
}, tree, loadTree = function(){
	js.ajaxSubmit("${ctx}/yw/gzbzk/ywGzbzkWjmbInfo/treeData?id="+$('#mbId').val() , function(data){
		tree = $.fn.zTree.init($("#tree"), setting, data);//.expandAll(true);
		// 展开第一级节点
		var nodes = tree.getNodesByParam("level", 0);
		for(var i=0; i<nodes.length; i++) {
			tree.expandNode(nodes[i], true, false, false);
		}
		//展开所有节点
		//tree.expandAll();

	}, null, null, js.text('loading.message'));
};loadTree();
// 工具栏按钮绑定
$('#btnExpand').click(function(){
	tree.expandAll(true);
	$(this).hide();
	$('#btnCollapse').show();
});
$('#btnCollapse').click(function(){
	tree.expandAll(false);
	$(this).hide();
	$('#btnExpand').show();
});
$('#btnRefresh').click(function(){
	loadTree();
});

$('#downFile').click(function(){
	var mbId = $('#mbId').val();
	layer.confirm('您确定要生成该文件吗?',{btn: ['确定', '取消'],title:"提示"}, function(){
		window.open("${ctx}/yw/gzbzk/ywGzbzkWjmbInfo/createWord?mbId="+mbId,'_self');
	});
});



//绑定ztree的自定义图标
//只有根节点才有删除图标
function addHoverDom(treeId, treeNode) {

		var sObj = $("#" + treeNode.tId + "_a"); //获取节点信息
		if (treeNode.editNameFlag || $("#addBtn_" + treeNode.tId).length > 0) return;

		var addStr = "<span class='button add' id='addBtn_" + treeNode.tId + "' title='add node' onfocus='this.blur();'></span>"; //定义添加按钮
		var updateStr = "<span class='button edit' id='updateBtn_" + treeNode.tId + "' title='update node' onfocus='this.blur();'></span>"; //定义修改按钮
		sObj.after(addStr); //加载添加按钮
		//加载添加按钮
		sObj.after(updateStr); //加载添加按钮

		if(treeNode.level == 0 ||treeNode.isParent ){

		}else{
			var deleteStr = "<span class='button remove' id='deleteBtn_" + treeNode.tId + "' title='del node' onfocus='this.blur();'>"; //定义删除按钮
			//var deleteStr = "<a id='deleteA_" + treeNode.tId + "' class='btnList' href='${ctx}/yw/gzbzk/ywGzbzkWjmbInfo/delete?id="+treeNode.id+"' data-confirm='${text('确认要删除该规章标准库-文件模板吗？')}' onfocus='this.blur();'><i class='fa fa-trash-o'></i></a>";
			deleteStr += '</span>';
			sObj.after(deleteStr);
		}

		var addbtn = $("#addBtn_" + treeNode.tId);
		var deletebtn = $("#deleteBtn_" + treeNode.tId);
		var updatebtn = $("#updateBtn_" + treeNode.tId);


		//新增节点信息，请求后台路径。
		if (addbtn) addbtn.bind("click", function () {
			var id = treeNode.id;
			var wjmbId = treeNode.wjmbId;
			window.mainFrame.location.href = "${ctx}/yw/gzbzk/ywGzbzkWjmbDetail/form?pid="+id+"&wjmbId="+wjmbId+"&hierarchy="+treeNode.level;
		});

		if (deletebtn) deletebtn.bind("click", function () {
			layer.confirm('您确定要删除该节点吗?',{btn: ['确定', '取消'],title:"提示"}, function(){
				var id = treeNode.id;
				js.ajaxSubmit("${ctx}/yw/gzbzk/ywGzbzkWjmbDetail/delete?id="+id , function(data){
					if(data.result == Global.TRUE){
						js.showMessage(data.message);
						loadTree();
					}else{
						js.showMessage(data.message);
					}
				}, "json");
			});
		});


		if (updatebtn) updatebtn.bind("click", function () {
			var id = treeNode.id;
			var wjmbId = treeNode.wjmbId;
			window.mainFrame.location.href = "${ctx}/yw/gzbzk/ywGzbzkWjmbDetail/form?id="+id+"&wjmbId="+wjmbId+"&hierarchy="+treeNode.level;
		});

};


function removeHoverDom(treeId, treeNode) {
	$("#addBtn_"+treeNode.tId).unbind().remove();
	$("#deleteBtn_"+treeNode.tId).unbind().remove();
	$("#updateBtn_"+treeNode.tId).unbind().remove();
};


</script>
